h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: black;
  text-align: right;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  color: grey;
  text-align: right;
}

h3 {
  font-family: 'Lato', sans-serif;
  color: grey;
}

p {
  text-align: center;
}

.contacts {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.logo {
  width: 60%;
}

.title {
  width: 40%;
}

.image{
  justify-content: center; 
}

.header {
  display: flex;
}

.divider {
  border-bottom: 0.2em solid grey;
}

.main {
  display: flex;
  align-content: stretch;
  width: 100%;
  padding-top: 1em;
}

.works {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
}

.box {
  padding: 1em;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
  h2, h3, p {
    font-size: 2.5em;
  }
  h3 {
    text-align: center;
  }
  .header {
    flex-direction: column;
  }
  .title, .logo {
    width: 100%;
  }
}